name: Build postmarketOS Image

on:
  workflow_dispatch:

jobs:
  build:
    # العودة إلى بيئة المضيف ubuntu-latest
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies and Clone pmbootstrap
        run: |
          # تثبيت متطلبات Ubuntu أولاً
          sudo apt update
          sudo apt install -y python3 git openssl qemu-user-static wget abuild apk-tools
          
          # استنساخ pmbootstrap
          git clone gitlab.postmarketos.org

      - name: Setup pmbootstrap Configuration and Build
        run: |
          cd pmbootstrap
          # تهيئة الإعدادات على بيئة المضيف
          ./pmbootstrap.py init \
            --work /home/runner/work/pmbootstrap_work \
            --arch armv7 \
            --device samsung-j3xnlte \
            --ui sxmo \
            --version edge
          
          # ضبط المرايا بشكل صريح
          ./pmbootstrap.py config mirrors.alpine dl-cdn.alpinelinux.org
          ./pmbootstrap.py config mirrors.pmaports mirror.postmarketos.org

          # بناء وتصدير النظام
          ./pmbootstrap.py install --password 147147
          ./pmbootstrap.py export

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: postmarketOS-j3xnlte-image
          path: /home/runner/work/pmbootstrap_work/chroot_native/home/pmos/rootfs/
          retention-days: 7
